@import 'tailwindcss';

body {
  background: #111117;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main > * {
  box-sizing: border-box;
  margin: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Headings */
.heading1-semi-bold-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.heading2-medium-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.heading3-semi-bold-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading4-medium-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Body */
.body1-semi-bold-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body2-medium-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body3-semi-bold-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body4-medium-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body5-medium-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Labels */
.label1-medium-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label2-regular-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@theme {
  /* Cosmos */
  --color-cosmos-100: #fbe0e4;
  --color-cosmos-200: #f7c5ce;
  --color-cosmos-300: #f3aab7;
  --color-cosmos-400: #ef8fa0;
  --color-cosmos-500: #ec768a;
  --color-cosmos-600: #e43f5b;
  --color-cosmos-700: #d21d3d;
  --color-cosmos-800: #a61730;
  --color-cosmos-900: #791123;

  /* Lavender */
  --color-lavender-100: #ddd2f9;
  --color-lavender-200: #bba6f2;
  --color-lavender-300: #a387ee;
  --color-lavender-400: #8f6cea;
  --color-lavender-500: #7a50e6;
  --color-lavender-600: #541fdb;
  --color-lavender-700: #491bc0;
  --color-lavender-800: #381593;
  --color-lavender-900: #270f67;

  /* Grey & White */
  --color-white: #ffffff;
  --color-grey-100: #e7e7ee;
  --color-grey-200: #d9d9e3;
  --color-grey-300: #bbbbcd;
  --color-grey-400: #9595b1;
  --color-grey-500: #5f5f82;
  --color-grey-600: #494964;
  --color-grey-700: #343447;
  --color-grey-800: #252530;
  --color-grey-850: #1a1a23;
  --color-grey-900: #111117;

  --text-title-xl: 48px;
  --text-title-l: 36px;
  --text-title-m: 32px;
  --text-title-s: 24px;
  --text-text-m: 20px;
  --text-text-s: 16px;
  --text-label-m: 14px;
  --text-label-s: 12px;
  --font-weight-regular: 300;
  --font-weight-semiBold: 500;
}

/* In a global CSS file or a Tailwind config extension */
.snap-stop-always {
  scroll-snap-stop: always;
}
